<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">


    <!-- header pc -->

     
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
      
        <div class="flex-container flex-centered">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">


                <li class=" "> <a href="/" class=""><span style="background-image:url()">Trang chủ  </span></a>

                </li>
                <li class=" "> <a href="/gioi-thieu/" class=""><span style="background-image:url()">Về chúng tôi </span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/gioi-thieu-chung-1/">Giới thiệu chung</a>
                        </li>
                        <li class=""><a href="/chien-luoc-phat-trien/">Chiến lược phát triển</a>
                        </li>
                        <li class=""><a href="/van-hoa-doanh-nghiep/">Văn hoá doanh nghiệp</a>
                        </li>
                        <li class=""><a href="/co-cau-to-chuc/">Cơ cấu tổ chức</a>
                        </li>
                        <li class=""><a href="/ban-lanh-dao/">Ban lãnh đạo</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Sản phẩm</span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Hỗ trợ mua hàng </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">Tin tức </span></a>
                
                
                
                
                    <ul class="submnu1">
                        <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                        </li>
                        <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
              
                <li class=" "> <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ </span></a>
                
                
                
                
                    
                    
                    
                </li>
               
                </ul>

              <div class="c"></div>
            </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">

    </header>
    <!-- content -->
    <div class="content">
    
        <div class="c30"></div>
        <div class="grid">
            <div class="crumb"><a href="/">Trang chủ </a><i class="fa fa-angle-right"></i><a href='/hoat-dong-cua-quy/'>Mỹ Phẩm</a></div>
            
        </div>

        <!-- chitet dichvu -->
        <div class="detailprd-wrapper">
            

            <div class="grid">
                <img src="/uploaded/slideshow/thammyvienngochuong2022_ok.jpg" alt="">
                <div class="c30"></div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit quod dicta non sint veritatis iusto odio adipisci magnam, explicabo placeat consequuntur voluptatum quisquam blanditiis ea molestias harum praesentium natus alias.
                <div class="c20"></div>
                <div class="Tocct">
                    <div class="longPageTOC"> <i class="fas fa-bars" style="margin-right:3px;"></i> Mục lục (<span class="TOCShowHide hideTOC" href="#">Ẩn / </span><span class="TOCShowHide showTOC" href="#">Hiện</span>)</div>
                        <div class="c"></div>
                        <div class="longPageNavigation">
                            
                        </div> 				
                        <div class="c10"></div>
                    </div>
            <script>
                $(function () {
                    $(".tocContent").LongPageNavigation({longPageNavigationPosition: "longPageNavigation"});
                    $(".TOCShowHide").click(function () {
                        $(".longPageNavigation").slideToggle();
                    });
                });
            </script>	
             <div class="tocContent">
            
                
        
                <div class="flex-container flex-space-between">
                    
                    <div class="cell-1-1 tab-cell-1-1">
                     
                        <div class="item-detailpr">
                            <div class="c10"></div>
                            <div class="title-detailpr">
                               
                                <span>Thông tin chi tiết</span>
                            </div>
                            <div class="c10"></div>
                            Cream nuôi dưỡng và bảo vệ tuổi thọ tế bào gốc, tăng cường sức đề kháng chống những tác nhân gây lão hóa
                        </div>
                        <div class="item-detailpr">
                            <div class="c10"></div>
                            <div class="title-detailpr">
                                <span>Thương hiệu</span>
                            </div>
                            <div class="c10"></div>
                            Cream nuôi dưỡng và bảo vệ tuổi thọ tế bào gốc, tăng cường sức đề kháng chống những tác nhân gây lão hóa
                        </div>
                        <div class="item-detailpr">
                            <div class="c10"></div>
                            <div class="title-detailpr">
                                <span>Hướng dẫn sử dụng</span>
                            </div>
                            <div class="c10"></div>
                            Cream nuôi dưỡng và bảo vệ tuổi thọ tế bào gốc, tăng cường sức đề kháng chống những tác nhân gây lão hóa
                        </div>
                    </div>
                </div>
                <div class="c20"></div>
            </div>
            </div>
        <!-- End Sản phẩm -->
     </div>
        <!-- end chi tiet dich vu -->
            <div class="service-wrapper">
                <div class="c20 hide-on-mobile"></div>
               
            <div class="grid">
               <!-- service tiem2 -->
               <div class="flex-container">
                <div class="c20"></div>
                <div class="cell-1-1">
                  <h1 class="homecat-title--spc">
                    <a href="">
                     Dịch vụ khác
                    </a>
                  </h1>
                </div>
                <div class="flex-container">
                    <div class="cell-1-3 tab-cell-1-1">
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/ok_trietlong2022.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Triệt Lông Tận Gốc </a>
                        
                        </h3>
                    </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/299897936_3249575215359305_4616092722102895723_n.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Cấy Collagen Tươi </a>
                        
                        </h3>
                    </div>
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/299463360_3249575488692611_4721695429061865956_n.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Mụn</a>
                        
                        </h3>
                    </div>
                    </div>
       
                    <div class="cell-1-3 tab-cell-1-1">
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/diendi2022.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Điện di vitamin</a>
                        
                        </h3>
                    </div>  
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/giaidocdadd.png" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Giải độc da</a>
                        
                        </h3>
                    </div>  
                    </div>
                    <div class="cell-1-3 tab-cell-1-1">
                        <div class="homeservice-item">
                          <a href="#" class="img-shine"> 
                              <img src="/uploaded/dich-vu/giaidocdadd.png" alt="">
                          </a>
                          <h3 class="homeinfo-name">
                             
                                <a href="#">Giải độc da</a>
                            
                            </h3>
                        </div>  
                        </div>
                </div>
                <div class="c30"></div>
             </div>
              <!-- end service2 -->
              </div>
            </div>
            <!-- end service -->

     

    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
      
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                  <a href="#">
                    <img src="/uploaded/logo/logo.png" alt="">
                  </a>
                  <div class="c20"></div>
                    <a href="#" target="_blank">
                      <img src="/images/tbbct200.png" alt="">
                    </a>
               
                            
                              
              </div>
            </div>

            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <ul class="footer-social">
                  <li>
                    <a href="" class="footer-social__item hvr-float f-facebook">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                 
                  <li>
                    <a href="" class="footer-social__item hvr-floatc f-youtube">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
                <div class="c5"></div>
                <ul class="menuboxfooter" id="">
                  <li><a href="">   Hướng dẫn mua hàng </a></li>
                  <li><a href="">   Phương thức thanh toán </a></li>
                  <li><a href="">  Chính sách vận chuyển, giao nhận</a></li>
                  <li><a href="">  Chính sách đổi trả hàng</a></li>
                  <li><a href="">   Chính sách bảo mật thông tin</a></li>
              </ul>
           
              </div>
            </div>
            <div class="cell-1-4">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  CÔNG TY TNHH THẨM MỸ VIỆN NGỌC HƯỜNG
                </div>
                <div class="info">
                  ĐKKD số 0313244879 do sở KH và ĐT TP.HCM cấp ngày 11/05/2015


                </div>
                <div class="info">
                 
                  <i class="fas fa-map-marker-alt"></i>
                  <div> Add: B5, No.15, Lane 91, Nguyen Chi Thanh St, Dong Da ditrict, Hanoi

                  </div>
                  </div>
                  
                  <div class="info">
                    <i class="fas fa-phone-alt"></i> 
                    <div> 02839954445 / 0915385577

                    </div>
                  </div>
                  
                  <div class="info"> <i class="far fa-envelope"></i>phucngochuongco@gmail.com</div>
                  
                
                           
              
              </div>
            </div>
            <div class="cell-1-4">
                <div class="footer-block">
                  <div class="footer-title footer-title-mobile" rel="ct">
                   
                  </div>
                  
                </div>
            </div>
            
          </div>
          <div class="c20"></div>
          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
              <div class="footer-address">
                34 Trúc Khê, Quận Đống Đa, Hà Nội
              </div>
              <div class="footer-phone">
                <a href="tel:02433 898 777">02433 898 777</a>
              </div>
         </div>
         <div class="cell-1-4 tab-cell-1-1">
          <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
          <div class="footer-address">
            34 Trúc Khê, Quận Đống Đa, Hà Nội
          </div>
          <div class="footer-phone">
            <a href="tel:02433 898 777">02433 898 777</a>
          </div>
     </div>
        <div class="cell-1-4 tab-cell-1-1">
          <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
            <div class="footer-address">
              34 Trúc Khê, Quận Đống Đa, Hà Nội
            </div>
            <div class="footer-phone">
              <a href="tel:02433 898 777">02433 898 777</a>
            </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
          <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
          <div class="footer-address">
            34 Trúc Khê, Quận Đống Đa, Hà Nội
          </div>
          <div class="footer-phone">
            <a href="tel:02433 898 777">02433 898 777</a>
          </div>
    </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
          </div>
        </div>
      </div>

     

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

