<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Hoàng Long" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Hoàng Long" data-app />
  <meta property="og:title" name="og:title" content="Hoàng Long" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />

  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />

  <link rel="stylesheet" type="text/css" href="/css/font.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>

  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
</head>

<body>



<div id="page">


    <!-- header pc -->

     
    <header class="header hide-on-pad hide-on-tab">

      
        <div class="flex-container flex-centered">
          <div class="cell-2-5 tab-cell-1-1">
            <div class="menubar menubar-left">
              <ul class="nav  hide-on-mobile">


                <li class=" "> <a href="/" class=""><span style="background-image:url()">Mỹ phẩm </span></a>

                </li>
                <li class=" "> <a href="/gioi-thieu/" class=""><span style="background-image:url()">Phun xăm thẩm mỹ</span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/gioi-thieu-chung-1/">Giới thiệu chung</a>
                        </li>
                        <li class=""><a href="/chien-luoc-phat-trien/">Chiến lược phát triển</a>
                        </li>
                        <li class=""><a href="/van-hoa-doanh-nghiep/">Văn hoá doanh nghiệp</a>
                        </li>
                        <li class=""><a href="/co-cau-to-chuc/">Cơ cấu tổ chức</a>
                        </li>
                        <li class=""><a href="/ban-lanh-dao/">Ban lãnh đạo</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()">Làm đẹp da</span></a>
                
                
                
                
                    <ul class="submnu1" style="display: none;">
                        <li class=""><a href="/phat-trien-dien-nang/">Phát triển điện năng</a>
                        </li>
                        <li class=""><a href="/dau-tu-bat-dong-san/">Đầu tư Bất động sản</a>
                        </li>
                        <li class=""><a href="/dich-vu-khach-san/">Dịch vụ khách sạn</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Trẻ hóa & chăm sóc da </span></a>
                
                
                
                
                    
                    
                    
                </li>
             
               </ul>
               
            
            </div>

          </div>
          <div class="cell-1-5 tab-cell-1-1">
            <div class="logo">
              <a href="#"><img src="/uploaded/logo/logo.png" alt=""></a>
            </div>
          </div>
          <div class="cell-2-5 tab-cell-1-1">
            <div class="menubar menubar-right">
              <ul class="nav  hide-on-mobile">
  
  
              
                <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">Giảm béo </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=" "> <a href="/tin-tuc-su-kien/" class=""><span style="background-image:url()">TRiệt lông </span></a>
                
                
                
                
                    <ul class="submnu1">
                        <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                        </li>
                        <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                        </li>
                    </ul>
                    
                    
                    
                </li>
              
                <li class=" "> <a href="/lien-he/" class=""><span style="background-image:url()">Kiến thức làm đẹp </span></a>
                
                
                
                
                    
                    
                    
                </li>
                <li class=" "> <a href="/lien-he/" class=""><span style="background-image:url()">Về Ngọc Hường </span></a>
                
                
                
                
                    
                    
                    
                </li>
               </ul>
               
            
            </div>
          </div>

          </div>
     
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">

    </header>
    <!-- content -->
    <div class="content">
          <!-- slideshow -->
          <div class="swiper-container" id="slide_home">
            <!-- <div class="swiper-pagination"></div> -->
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>  
              </div>
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>  
              </div>
              <div class="swiper-slide">
                <div class="slidehome">
                  <img src="/uploaded/slideshow/home_02.png" alt="" style="width: 100%" />
                </div>  
              </div>
            </div>
            <div class="swiper-button-next swiper-button-grey"></div>
            <div class="swiper-button-prev swiper-button-grey"></div>
            <div class="c"></div>
            <script>
              $(function () {
                var swiper_slide_home = new Swiper("#slide_home", {
                  loop: true,
                  slidesPerView: 1,
                  autoplay: {
                    simulateTouch: true,
                    delay: 5000000,
                    disableOnInteraction: false,
                  },
                  spaceBetween: 0,
                  navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                  },
                  pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                  },
                  speed: 500,
                  spaceBetween: 0,
                });
    
                $("#slide_home").on("mouseover", function () {
                  swiper_slide_home.autoplay.stop();
                });
                $("#slide_home").on("mouseout", function () {
                  swiper_slide_home.autoplay.start();
                });
              });
            </script>
            <div class="c"></div>
          </div>
          <!-- end slideshow -->
            <!-- info -->
            <div class="homeinfo-wrapper">
              <div class="c30"></div>
              <div class="grid">
                <h1 class="homecat-title--spc" style="font-style:italic;">
                  <a href="">
                      "Dẫn đầu về phun xăm thẩm mỹ và làm đẹp da"
                  </a>
                </h1>
                <div class="flex-container">
                  
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeinfo-item">
                        <a href="#" class="img-shine"> 
                            <img src="/uploaded/gioi-thieu/vithedandauu.jpg" alt="">
                        </a>
                        <h3 class="homeinfo-name">  
                              <a href="#"> Vị thế dẫn đầu </a>           
                        </h3>
                    </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeinfo-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/gioi-thieu/kinhnghiemtantam.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Kinh nghiệm và sự tận tâm </a>
                        
                        </h3>
                  </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeinfo-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/gioi-thieu/sanphamchatluong.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                       
                            <a href="#"> Sản Phẩm Chất Lượng Hàng Đầu Thế Giới </a>
                         
                      </h3>
                  </div>
                  </div>
                  <div class="cell-1-2 tab-cell-1-1">
                    <div class="homeinfo-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/gioi-thieu/congnghe.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                        
                            <a href="#">Tiên Phong Trong Cải Tiến Công Nghệ Mới </a>
                        
                      </div>
                  </div>
                  </div>
                </div>
              </div>
           
  
            <!-- end info -->
            <!-- service -->
            <div class="homeservice-wrapper">
              <div class="grid">
               
                <!-- service-item1 -->
                <div class="flex-container">
                  <div class="cell-1-1">
                    <h1 class="homecat-title--spc">
                      <a href="">
                        Dịch Vụ Phun Xăm Hot
                      </a>
                    </h1>
                  </div>
                  <div class="flex-grid">
                      <div class="homeservice-item">
                        <a href="#" class="img-shine"> 
                            <img src="/uploaded/dich-vu/caysontuoi2022.jpg" alt="">
                        </a>
                        <h3 class="homeinfo-name">
                           
                              <a href="#">Cấy son tươi </a>
                          
                          </h3>
                      </div>
                      <div class="homeservice-item">
                        <a href="#" class="img-shine"> 
                            <img src="/uploaded/dich-vu/mimat2022.jpg" alt="">
                        </a>
                        <h3 class="homeinfo-name">
                           
                              <a href="#">Phun mí trang điểm </a>
                          
                          </h3>
                      </div>
                      <div class="homeservice-item">
                        <a href="#" class="img-shine"> 
                            <img src="/uploaded/dich-vu/moicollagen2022.jpg" alt="">
                        </a>
                        <h3 class="homeinfo-name">
                           
                              <a href="#">Phun môi colagen</a>
                          
                          </h3>
                      </div>
                      <div class="homeservice-item">
                        <a href="#" class="img-shine"> 
                            <img src="/uploaded/dich-vu/ok_dieukhac2022.jpg" alt="">
                        </a>
                        <h3 class="homeinfo-name">
                           
                              <a href="#">Điêu khắc lông mày</a>
                          
                          </h3>
                      </div>  
                      <div class="homeservice-item">
                        <a href="#" class="img-shine"> 
                            <img src="/uploaded/dich-vu/ok_phunmaytanbot2022.jpg" alt="">
                        </a>
                        <h3 class="homeinfo-name">
                           
                              <a href="#">Phun mày tán bột</a>
                          
                          </h3>
                      </div>  
                  </div>
                  <div class="c30"></div>
               </div>
              <!-- end service item1 -->
               <!-- service tiem2 -->
               <div class="flex-container">
                <div class="cell-1-1">
                  <h1 class="homecat-title--spc">
                    <a href="">
                      Dịch Vụ Chăm Sóc Da Nổi Bật
                    </a>
                  </h1>
                </div>
                <div class="flex-grid">
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/ok_trietlong2022.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Triệt Lông Tận Gốc </a>
                        
                        </h3>
                    </div>
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/299897936_3249575215359305_4616092722102895723_n.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Cấy Collagen Tươi </a>
                        
                        </h3>
                    </div>
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/299463360_3249575488692611_4721695429061865956_n.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Mụn</a>
                        
                        </h3>
                    </div>
       
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/diendi2022.jpg" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Điện di vitamin</a>
                        
                        </h3>
                    </div>  
                    <div class="homeservice-item">
                      <a href="#" class="img-shine"> 
                          <img src="/uploaded/dich-vu/giaidocdadd.png" alt="">
                      </a>
                      <h3 class="homeinfo-name">
                         
                            <a href="#">Giải độc da</a>
                        
                        </h3>
                    </div>  
                </div>
                <div class="c30"></div>
             </div>
              <!-- end service2 -->
              </div>
            </div>
            <!-- end service -->

            <!-- hinhanh -->
            <div class="homegalleries-wrapper">
              <div class="c30"></div>
              <h1 class="homecat-title--spc">
                <a href="">
                  Hình Ảnh Thực Tế Khách Hàng Đã Làm Đẹp
                </a>
              </h1>
                <div class="grid">
                  <div class="flex-container flex-centered">
                      <div class="cell-1-1 tab-cell-1-1">
                        <ul id="tabs-nav">
                                               
                          <li><a href="#tab1"> Điêu khắc sợi</a></li>
                          <li><a href="#tab2"> Cấy colagen  </a></li>
                          <li><a href="#tab3">Khắc sợi bán phần</a></li>
                          <li><a href="#tab4"> Cấy son tươi</a></li>
                          <li><a href="#tab4"> Chạm hạt</a></li>
                          <li><a href="#tab1"> Đốm nâu</a></li>
                          <li><a href="#tab2"> Cấy colagen  </a></li>
                          <li><a href="#tab3">Khắc sợi bán phần</a></li>
                          <li><a href="#tab4"> Cấy son tươi</a></li>
                          <li><a href="#tab4"> Chạm hạt</a></li>
                        </ul>
                     </div>
                     <div class="cell-4-5 tab-cell-1-1">
                    <div class="c20"></div>
                    <div class="tabs">
                      <!-- END tabs-nav -->
                      <div id="tabs-content">
                        <div id="tab1" class="tab-content">
                          <div class="swiper swiper-container swiperimage1" >
                            <div class="swiper-wrapper">
                               
                              <div class="swiper-slide">
                                <div class="pro-slide-item pro-img">
                                  <a href="/uploaded/galleries/276258700_3141074229542738_8099061189736746293_n (1).jpg" data-fancybox="gallery" data-caption="" onclick="return hs.expand(this)">
                                    <img  src="/uploaded/galleries/276258700_3141074229542738_8099061189736746293_n (1).jpg" alt="" title="" width="100%" />
                                  </a>
                  
                                </div>
                              </div> 
                            <div class="swiper-slide">
                              <div class="pro-slide-item pro-img">
                                <a href="/uploaded/galleries/dieukhac1.jpg" data-fancybox="gallery" data-caption="" onclick="return hs.expand(this)">
                                  <img  src="/uploaded/galleries/dieukhac1.jpg" alt="" title="" width="100%" />
                                </a>
                
                              </div>
                            </div>
              
                            <div class="swiper-slide">
                              <div class="pro-slide-item pro-img">
                                <a href="/uploaded/galleries/dieukhac2.jpg" data-fancybox="gallery" data-caption="" onclick="return hs.expand(this)">
                                  <img  src="/uploaded/galleries/dieukhac2.jpg" alt="" title="" width="100%" />
                                </a>
                
                              </div>
                            </div>
            
                            <div class="swiper-slide">
                              <div class="pro-slide-item pro-img">
                                <a href="/uploaded/galleries/dieukhac4.jpg" data-fancybox="gallery" data-caption="" onclick="return hs.expand(this)">
                                  <img  src="/uploaded/galleries/dieukhac4.jpg" alt="" title="" width="100%" />
                                </a>
                
                              </div>
                            </div>
          
                            </div>
                            <div class="swiper-button-next swiper-button-black"></div>
                            <div class="swiper-button-prev swiper-button-black"></div>
                       
                        <div class="c10"></div>
                        <div thumbsSlider="" class="swiper swiper-container swiperimage2">
                            <div class="swiper-wrapper">
        
                                <div class="swiper-slide">
                                    <img  src="/uploaded/galleries/276258700_3141074229542738_8099061189736746293_n (1).jpg" alt="" title="" width="100%" />
                                </div>
                                <div class="swiper-slide">
                                    <img  src="/uploaded/galleries/dieukhac1.jpg" alt="" title="" width="100%" />
                                </div>
                                <div class="swiper-slide">
                                    <img  src="/uploaded/galleries/dieukhac2.jpg" alt="" title="" width="100%" />
                                </div>
                                <div class="swiper-slide">
                                    <img  src="/uploaded/galleries/dieukhac4.jpg" alt="" title="" width="100%" />
                                </div>
        
        
                            </div>
                            <script>
                                var swiper = new Swiper(".swiperimage2", {
                                    spaceBetween: 10,
                                    slidesPerView: 6,
                                    freeMode: true,
                                    watchSlidesProgress: true,
                                    loop:false,
                                });
                                var swiper2 = new Swiper(".swiperimage1", {
                                    spaceBetween: 10,
                                    navigation: {
                                        nextEl: ".swiper-button-next",
                                        prevEl: ".swiper-button-prev",
                                    },
                                    thumbs: {
                                        swiper: swiper,
                                    },
                                });
                            </script>
                        </div>
                       
                      </div> 
                      <!-- END tabs-content -->
                      <script>
                        // Show the first tab and hide the rest
                            $('#tabs-nav li:first-child').addClass('active');
                            $('.tab-content').hide();
                            $('.tab-content:first').show();
            
                            // Click function
                            $('#tabs-nav li').click(function(){
                              $('#tabs-nav li').removeClass('active');
                              $(this).addClass('active');
                              $('.tab-content').hide();
                              
                              var activeTab = $(this).find('a').attr('href');
                              $(activeTab).fadeIn();
                              return false;
                            });
                      </script>
                        </div>
                        <div id="tab2" class="tab-content">
                          <h2>Dante Hicks</h2>
                          <p>"My friend here's trying to convince me that any independent contractors who were working on the uncompleted Death Star were innocent victims when it was destroyed by the Rebels."</p>
                        </div>
                        <div id="tab3" class="tab-content">
                          <h2>Randall Graves</h2>
                          <p>"In light of this lurid tale, I don't even see how you can romanticize your relationship with Caitlin. She broke your heart and inadvertently drove men to deviant lifestyles."</p>
                        </div>
                        <div id="tab4" class="tab-content">
                          <h2>Jay</h2>
                          <p>"I don't care if she's my cousin or not, I'm gonna knock those boots again tonight."</p>
                        </div>
                    </div>
                    </div>
                      </div>
                  </div>
            </div>
            <!-- END tabs -->
           
            <!-- end hinhanh -->
          <!-- tin tức -->
          <div class="homenews-wrapper">  
            <div class="c30"></div>
             <div class="grid">
              <div class="flex-container">
                <div class="cell-1-2 tab-cell-1">
                    <h2 class="homecat-title--spc" style="color: #000;"> 
                        <a href="#">Tin tức Ngọc Hường</a>
                    </h2>
                    <div class="line-w"> <span></span></div>
                    <div class="c30"></div>
                    <div class="homenews-item">
                        <a href="#" class="img-shine"> <img src="/uploaded/tin-tuc/Untitled-1111.jpg" alt=""></a>
                        <div class="intro-bg-news">
                            <h4 class="homenews-item__name">
                                <a href="#">HÀNG NGÀN ƯU ĐÃI HOT VẪN ĐANG DIỄN RA TRONG THÁNG 9</a>
                            </h4>
                            <div class="date"> 3 ngày trước</div>
                            <div class="c10"></div>
                            <div class="line-w" style="justify-content: start;"><span style="max-width: 100px"></span></div>
                            <div class="homenews-item__intro text-line-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut excepturi explicabo est. Dolores odio enim rerum at inventore, voluptatum consequuntur recusandae ab! Quae deserunt delectus excepturi, asperiores laboriosam nam sit.
                            </div>
                        </div>
                      </div>
                      <div class="homenews-item">
                        <a href="#" class="img-shine"> <img src="/uploaded/tin-tuc/Untitled-1111.jpg" alt=""></a>
                        <div class="intro-bg-news">
                            <h4 class="homenews-item__name">
                                <a href="#">HÀNG NGÀN ƯU ĐÃI HOT VẪN ĐANG DIỄN RA TRONG THÁNG 9</a>
                            </h4>
                            <div class="date"> 3 ngày trước</div>
                            <div class="c10"></div>
                            <div class="line-w" style="justify-content: start;"><span style="max-width: 100px"></span></div>
                            <div class="homenews-item__intro text-line-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut excepturi explicabo est. Dolores odio enim rerum at inventore, voluptatum consequuntur recusandae ab! Quae deserunt delectus excepturi, asperiores laboriosam nam sit.
                            </div>
                        </div>
                      </div>
                      <div class="homenews-item">
                        <a href="#" class="img-shine"> <img src="/uploaded/tin-tuc/Untitled-1111.jpg" alt=""></a>
                        <div class="intro-bg-news">
                            <h4 class="homenews-item__name">
                                <a href="#">HÀNG NGÀN ƯU ĐÃI HOT VẪN ĐANG DIỄN RA TRONG THÁNG 9</a>
                            </h4>
                            <div class="date"> 3 ngày trước</div>
                            <div class="c10"></div>
                            <div class="line-w" style="justify-content: start;"><span style="max-width: 100px"></span></div>
                            <div class="homenews-item__intro text-line-3">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut excepturi explicabo est. Dolores odio enim rerum at inventore, voluptatum consequuntur recusandae ab! Quae deserunt delectus excepturi, asperiores laboriosam nam sit.
                            </div>
                        </div>
                      </div>
                      
                </div>
                <div class="cell-1-2 tab-cell-1">
                  <h2 class="homecat-title--spc" style="color: #000;"> 
                      <a href="#">Kiến thức làm đẹp</a>
                  </h2>
                  <div class="line-w"> <span></span></div>
                  <div class="c30"></div>
                  <div class="homenews-item">
                      <a href="#" class="img-shine"> <img src="/uploaded/tin-tuc/Untitled-1111.jpg" alt=""></a>
                      <div class="intro-bg-news">
                          <h4 class="homenews-item__name">
                              <a href="#">HÀNG NGÀN ƯU ĐÃI HOT VẪN ĐANG DIỄN RA TRONG THÁNG 9</a>
                          </h4>
                          <div class="date"> 3 ngày trước</div>
                          <div class="c10"></div>
                          <div class="line-w" style="justify-content: start;"><span style="max-width: 100px"></span></div>
                          <div class="homenews-item__intro text-line-3">
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut excepturi explicabo est. Dolores odio enim rerum at inventore, voluptatum consequuntur recusandae ab! Quae deserunt delectus excepturi, asperiores laboriosam nam sit.
                          </div>
                      </div>
                    </div>
                    <div class="homenews-item">
                      <a href="#" class="img-shine"> <img src="/uploaded/tin-tuc/Untitled-1111.jpg" alt=""></a>
                      <div class="intro-bg-news">
                          <h4 class="homenews-item__name">
                              <a href="#">HÀNG NGÀN ƯU ĐÃI HOT VẪN ĐANG DIỄN RA TRONG THÁNG 9</a>
                          </h4>
                          <div class="date"> 3 ngày trước</div>
                          <div class="c10"></div>
                          <div class="line-w" style="justify-content: start;"><span style="max-width: 100px"></span></div>
                          <div class="homenews-item__intro text-line-3">
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut excepturi explicabo est. Dolores odio enim rerum at inventore, voluptatum consequuntur recusandae ab! Quae deserunt delectus excepturi, asperiores laboriosam nam sit.
                          </div>
                      </div>
                    </div>
                    <div class="homenews-item">
                      <a href="#" class="img-shine"> <img src="/uploaded/tin-tuc/Untitled-1111.jpg" alt=""></a>
                      <div class="intro-bg-news">
                          <h4 class="homenews-item__name">
                              <a href="#">HÀNG NGÀN ƯU ĐÃI HOT VẪN ĐANG DIỄN RA TRONG THÁNG 9</a>
                          </h4>
                          <div class="date"> 3 ngày trước</div>
                          <div class="c10"></div>
                          <div class="line-w" style="justify-content: start;"><span style="max-width: 100px"></span></div>
                          <div class="homenews-item__intro text-line-3">
                              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut excepturi explicabo est. Dolores odio enim rerum at inventore, voluptatum consequuntur recusandae ab! Quae deserunt delectus excepturi, asperiores laboriosam nam sit.
                          </div>
                      </div>
                    </div>
                    
              </div>
               </div>
             </div>
             <div class="c30"></div>
          </div>
         
          <!-- end tin tức -->

    </div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
      
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                  <a href="#">
                    <img src="/uploaded/logo/logo.png" alt="">
                  </a>
                  <div class="c20"></div>
                    <a href="#" target="_blank">
                      <img src="/images/tbbct200.png" alt="">
                    </a>
               
                            
                              
              </div>
            </div>

            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <ul class="footer-social">
                  <li>
                    <a href="" class="footer-social__item hvr-float f-facebook">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                 
                  <li>
                    <a href="" class="footer-social__item hvr-floatc f-youtube">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
                <div class="c5"></div>
                <ul class="menuboxfooter" id="">
                  <li><a href="">   Hướng dẫn mua hàng </a></li>
                  <li><a href="">   Phương thức thanh toán </a></li>
                  <li><a href="">  Chính sách vận chuyển, giao nhận</a></li>
                  <li><a href="">  Chính sách đổi trả hàng</a></li>
                  <li><a href="">   Chính sách bảo mật thông tin</a></li>
              </ul>
           
              </div>
            </div>
            <div class="cell-1-4">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  CÔNG TY TNHH THẨM MỸ VIỆN NGỌC HƯỜNG
                </div>
                <div class="info">
                  ĐKKD số 0313244879 do sở KH và ĐT TP.HCM cấp ngày 11/05/2015


                </div>
                <div class="info">
                 
                  <i class="fas fa-map-marker-alt"></i>
                  <div> Add: B5, No.15, Lane 91, Nguyen Chi Thanh St, Dong Da ditrict, Hanoi

                  </div>
                  </div>
                  
                  <div class="info">
                    <i class="fas fa-phone-alt"></i> 
                    <div> 02839954445 / 0915385577

                    </div>
                  </div>
                  
                  <div class="info"> <i class="far fa-envelope"></i>phucngochuongco@gmail.com</div>
                  
                
                           
              
              </div>
            </div>
            <div class="cell-1-4">
                <div class="footer-block">
                  <div class="footer-title footer-title-mobile" rel="ct">
                   
                  </div>
                  
                </div>
            </div>
            
          </div>
          <div class="c20"></div>
          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
              <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
              <div class="footer-address">
                34 Trúc Khê, Quận Đống Đa, Hà Nội
              </div>
              <div class="footer-phone">
                <a href="tel:02433 898 777">02433 898 777</a>
              </div>
         </div>
         <div class="cell-1-4 tab-cell-1-1">
          <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
          <div class="footer-address">
            34 Trúc Khê, Quận Đống Đa, Hà Nội
          </div>
          <div class="footer-phone">
            <a href="tel:02433 898 777">02433 898 777</a>
          </div>
     </div>
        <div class="cell-1-4 tab-cell-1-1">
          <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
            <div class="footer-address">
              34 Trúc Khê, Quận Đống Đa, Hà Nội
            </div>
            <div class="footer-phone">
              <a href="tel:02433 898 777">02433 898 777</a>
            </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
          <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
          <div class="footer-address">
            34 Trúc Khê, Quận Đống Đa, Hà Nội
          </div>
          <div class="footer-phone">
            <a href="tel:02433 898 777">02433 898 777</a>
          </div>
    </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
      <div class="cell-1-4 tab-cell-1-1">
        <a href="#" class="mapsname"> Hà nội <span>(Xem đường đi)</span></a>
        <div class="footer-address">
          34 Trúc Khê, Quận Đống Đa, Hà Nội
        </div>
        <div class="footer-phone">
          <a href="tel:02433 898 777">02433 898 777</a>
        </div>
      </div>
          </div>
        </div>
      </div>

     

    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />



 

  
</body>

</html>

